<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js" type="text/javascript"></script>
    <!-- {% include 'autocomplete_light/static.html' %} -->
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    
    <script src='js/bootstrap-rating-input.min.js'></script>
   	
   	<script>

 /* change the color of the LIKE button and send data in order to add it to the database */

$('.like').click(function(){
      var $atr = $(this); 
      if ($atr.attr( 'id') == "movie_like"){
        var $url = "{% url 'Movie_like' %}";
      }else if ($atr.attr( 'id') == "book_like"){
        var $url = "{% url 'Book_like' %}";
      }
      $.ajax({
               type: "POST",
               url: $url,
               data: {'slug': $atr.attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               success: function(response) {
                      if ($atr.attr( 'class') == "like fa fa-heart") {
                        $atr.attr( 'class', 'like fa fa-heart-o' );
                      } else {
                        $atr.attr( 'class', 'like fa fa-heart' );
                      }  
                },
                error: function(rs, e) {
                       $(this).attr( 'class', 'like fa fa-heart' );
                }
          }); 
    });

/* Bootstrap tooltip, it is much faster */
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({delay: {show: 200, hide: 100}});   
});

/* My custome tooltip javascript for mouseover but it take time to show */
// $(document).ready(function() {
// // Tooltip only Text
// $('.masterTooltip').hover(function(){
//         // Hover over code
//         var title = $(this).attr('title');
//         //$(this).data('tipText', title).removeAttr('title');
//         $('<p class="tooltip"></p>')
//         .text(title)
//         .appendTo('body')
//         .fadeIn('slow');
//         console.log(title);
// }, function() {
//         // Hover out code
//         $(this).attr('title', $(this).data('tipText'));
//         $('.tooltip').remove();
// }).mousemove(function(e) {
//         var mousex = e.pageX + 20; //Get X coordinates
//         var mousey = e.pageY + 10; //Get Y coordinates
//         $('.tooltip')
//         .css({ top: mousey, left: mousex })
// });
// });


</script>
   