
.p_navbar {
	margin:0px !important;
	padding : 15px;
	color: navy;
}

.text-align-center {
	text-align: center;
}

.custom-fa-size {
	font-size: 10em;

}
.p_description {

	font-size: 12px;
}

.noticebox {

	position: absolute;
    display: none;
    background:#E2E1E1;
    padding:4px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.fixed-height {
	display:block;

    height:292px;

}